.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: white;

  .logologo {
    height: 100px;
    width: 100px; // Adjust logo width
    // object-fit: contain;
    display: flex
  }

  // .logo {
  //   display: flex;
  //   align-items: center;
  //   gap: 10px;
  //   font-weight: bold;
  //   font-size: 20px;
  // }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      &:hover {
        color: #007bff;
      }
    }
  }

  .actions {
    display: flex;
    gap: 15px;

    .btn-light {
      background: transparent;
      border: 1px solid #ccc;
      padding: 6px 15px;
      border-radius: 20px;
    }

    .btn-primary {
      background: #007bff;
      color: white;
      border: none;
      padding: 6px 20px;
      border-radius: 20px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    height: 40px;  // Adjust logo size
  }
}
